# Mac
.DS_Store

# Xcode
xcuserdata/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
fastlane/FastlaneRunner
