# Mac
.DS_Store

# Xcode
xcuserdata/
./Output

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
fastlane/FastlaneRunner

# Bundler

vendor/bundle
