<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169659422201-0arc90nm1i847e0titvbc3r5vdpkk328.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169659422201-0arc90nm1i847e0titvbc3r5vdpkk328</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9xSYeMP3JGLS3AuMJjJGuvCjQpLvkmA</string>
	<key>GCM_SENDER_ID</key>
	<string>169659422201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nimblehq.crypto-prices.staging</string>
	<key>PROJECT_ID</key>
	<string>cryptoprices-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoprices-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169659422201:ios:15bd8fa2f4f5b9f86cd928</string>
</dict>
</plist>